html, body {
  height: 100%;
  overflow: hidden; }

a {
  cursor: pointer; }

#chatmessages {
  width: 100%; }
  #chatmessages li {
    padding: 0; }

#inputbarcont {
  position: absolute;
  left: 170px;
  right: 160px;
  bottom: 0; }
  #inputbarcont #inputbar {
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 4px; }

#leftbar {
  position: fixed;
  top: 41px;
  bottom: 41px;
  left: 0;
  width: 130px;
  border-right: 1px solid #ddd; }

#centerbar {
  position: fixed;
  top: 41px;
  bottom: 41px;
  left: 161px;
  right: 151px;
  overflow-y: auto;
  padding: 0; }

#rightbar {
  position: fixed;
  top: 41px;
  bottom: 41px;
  right: 0;
  width: 150px;
  border-left: 1px solid #ddd; }

#bottombar {
  position: fixed;
  bottom: 0;
  height: 40px;
  border-top: 1px solid #ddd; }

.us-list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #eee; }
  .us-list li {
    padding: 3px 5px;
    border: 2px solid #eee;
    border-bottom-width: 0;
    background-color: #e3e3e3; }
    .us-list li:hover {
      border-color: #39f;
      cursor: pointer;
      background-color: #39f;
      color: #fff;
      text-decoration: none; }

.uk-list ul {
  padding-left: 10px; }

.chanlist > li > a, .sublist a li {
  border: 1px solid #ccc;
  margin: 2px;
  padding: 2px 5px;
  color: #666; }
  .chanlist > li > a:hover, .sublist a li:hover {
    border-color: #39f;
    cursor: pointer;
    background-color: #39f;
    color: #fff;
    text-decoration: none; }

.chanlist > li > span.cselected {
  padding: 5px;
  line-height: 2em; }

.cselected {
  border: 1px solid #ccc;
  margin: 2px;
  padding: 2px 5px;
  color: #666;
  border-color: #39f;
  cursor: pointer;
  background-color: #39f;
  color: #fff;
  text-decoration: none; }

.sublist a {
  text-decoration: none; }

.chanlist > li > a {
  padding: 5px;
  line-height: 2em; }

.username {
  display: table-cell;
  background-color: #e3e3e3;
  width: 100px;
  height: 22px;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 5px;
  margin: -5px 4px -12px -4px;
  border-right: 5px solid #e3e3e3; }

.message {
  display: table-cell;
  padding-left: 5px;
  padding-right: 80px; }

.chaction {
  padding: 5px;
  background-color: #def;
  color: #369;
  padding-left: 10px;
  padding-right: 80px; }

.notice {
  padding: 5px;
  padding-left: 10px;
  background-color: #f2fae3;
  color: #659f13;
  padding-right: 80px; }

.symbol {
  display: inline-block;
  width: 13px;
  margin-right: 5px;
  text-align: center;
  font-weight: bold; }

.topic {
  position: absolute;
  left: 220px;
  right: 220px;
  padding: 10px 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc; }
  .topic .author {
    font-size: .9em;
    color: #888; }

.timestamp {
  position: absolute;
  right: 0;
  top: 5px;
  width: 70px;
  opacity: .5; }
