html, body {
  height: 100%;
  overflow: hidden;
  font-family: "Source Sans Pro", sans-serif; }

h1, h2, h3, h4 {
  font-family: "Source Sans Pro", sans-serif; }

a {
  cursor: pointer; }

#chatmessages {
  width: 100%; }
  #chatmessages li {
    padding: 0; }

#inputbarcont {
  position: absolute;
  left: 170px;
  right: 160px;
  bottom: 0; }
  #inputbarcont #inputbar {
    position: relative;
    width: 100%;
    bottom: 4px; }

#leftbar {
  position: absolute;
  top: 41px;
  bottom: 41px;
  left: 0;
  width: 130px;
  border-right: 1px solid #ddd; }

#centerbar {
  position: absolute;
  top: 41px;
  bottom: 41px;
  left: 161px;
  overflow-y: auto;
  padding: 0; }

#rightbar {
  position: absolute;
  top: 41px;
  bottom: 41px;
  right: 0;
  width: 150px;
  border-left: 1px solid #ddd; }

#bottombar {
  position: absolute;
  bottom: 0;
  height: 40px;
  border-top: 1px solid #ddd; }

.us-list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #eee;
  overflow: auto; }
  .us-list li {
    padding: 3px 5px;
    border: 2px solid #eee;
    border-bottom-width: 0;
    background-color: #e3e3e3;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
    .us-list li:hover {
      border-color: #39f;
      cursor: pointer;
      background-color: #39f;
      color: #fff;
      text-decoration: none; }

.uk-list ul {
  padding-left: 10px; }

.chanlist > li > a, .sublist a li {
  border: 1px solid #ccc;
  margin: 2px;
  padding: 2px 5px;
  color: #666; }
  .chanlist > li > a:hover, .sublist a li:hover {
    border-color: #39f;
    cursor: pointer;
    background-color: #39f;
    color: #fff;
    text-decoration: none; }

.chanlist > li > span.cselected {
  padding: 5px;
  line-height: 2em; }

.cselected {
  border: 1px solid #ccc;
  margin: 2px;
  padding: 2px 5px;
  color: #666;
  border-color: #39f;
  cursor: pointer;
  background-color: #39f;
  color: #fff;
  text-decoration: none; }

.sublist a {
  text-decoration: none; }

.chanlist > li > a {
  padding: 5px;
  line-height: 2em; }

.username {
  display: table-cell;
  background-color: #e3e3e3;
  width: 100px;
  max-width: 100px;
  height: 22px;
  text-align: right;
  white-space: nowrap;
  padding: 5px;
  margin: -5px 4px -12px -4px;
  border-right: 5px solid #e3e3e3;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden; }

.message {
  display: table-cell;
  padding-left: 5px;
  padding-right: 80px; }

.chaction {
  padding: 5px;
  background-color: #def;
  color: #369;
  padding-left: 10px;
  padding-right: 80px; }

.notice {
  padding: 5px;
  padding-left: 10px;
  background-color: #f2fae3;
  color: #659f13;
  padding-right: 80px; }

.error {
  padding: 5px;
  padding-left: 10px;
  background-color: #fee;
  color: #d53;
  padding-right: 80px; }

.whoiscont {
  padding: 5px;
  padding-left: 10px;
  line-height: 1.5em; }

.symbol {
  display: inline-block;
  width: 13px;
  margin-right: 5px;
  text-align: center;
  font-family: "Courier",monospace;
  font-size: 1.2em; }

.topic {
  position: absolute;
  left: 220px;
  right: 220px;
  padding: 10px 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc; }
  .topic .author {
    font-size: .9em;
    color: #888; }

.timestamp {
  position: absolute;
  right: 0;
  top: 5px;
  width: 70px;
  opacity: .5; }

.hiddenbar {
  display: none; }

.normalwide {
  right: 151px; }

.superwide {
  right: 0; }

.error-modal {
  background-color: #a00;
  color: #fff; }
  .error-modal h2 {
    color: #fff;
    font-weight: 400;
    font-size: 2em;
    margin-bottom: .6em; }
  .error-modal p {
    font-size: 1.3em;
    font-weight: 300; }

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local("Source Sans Pro ExtraLight"), local("SourceSansPro-ExtraLight"), url(../fonts/toadOcfmlt9b38dHJxOBGMa9awK0IKUjIWABZIchFI8.woff) format("woff"); }

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url(../fonts/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format("woff"); }

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(../fonts/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format("woff"); }

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url(../fonts/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff) format("woff"); }

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(../fonts/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff) format("woff"); }

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local("Source Sans Pro Black"), local("SourceSansPro-Black"), url(../fonts/toadOcfmlt9b38dHJxOBGHiec-hVyr2k4iOzEQsW1iE.woff) format("woff"); }

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local("Source Sans Pro Italic"), local("SourceSansPro-It"), url(../fonts/M2Jd71oPJhLKp0zdtTvoMzNrcjQuD0pTu1za2FULaMs.woff) format("woff"); }

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: local("Source Sans Pro Semibold Italic"), local("SourceSansPro-SemiboldIt"), url(../fonts/fpTVHK8qsXbIeTHTrnQH6PULlOK_XQENnt2ryrY843E.woff) format("woff"); }
